@import 'reset';
@import 'utilities';

dialog {
    border: none;
    border-radius: 10px;
    &::backdrop {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(2px);
    }
}

.ribbon {
    width: 0;
    height: 30px;
    border-right: 10px solid green;
    border-left: 10px solid green;
    border-bottom: 8px solid transparent;
}

.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    &__options {
        display: flex;
        align-items: center;
    }
    &__search__button {
        cursor: pointer;
        align-self: center;
        border: 1px solid black;
        border-radius: 15px;
        padding: 5px 10px;
        background-color: white;
        color: black;
        margin-left: 20px;
        &:hover {
            transform: scale(1.05);
            transition: 200ms;
        }
    }
    & form {
        display: flex;
        align-items: center;
    }
    & input {
        height: 1.5rem;
        padding-left: 15px;
        border-radius: 15px;
        border: 1px solid black;
    }
}

@media (max-width: 399px) {
    .header {
        margin: 10px;
        &__title {
            font-size: 2rem;
            font-weight: 400;
        }
    }
}

@media (min-width: 400px) {
    .container {
        width: 75%;
    }
    .header {
        width: 75%;
        font-size: 3rem;
        font-weight: 200;
        padding: 30px;
        margin-inline: auto;


    }
    
}


